.fifpro .football{
	background-image:url(../../img/cases/img/object-football-ie.png);
	background-position: 71% 150px;
}

.oxxio .video{
	margin-left:-34px;
}

.stiho{
	background-repeat: repeat;
}

.hogeschool{
	background-repeat: repeat;
}

.hogeschool article{
	padding-left:230px;
}

.abn{
	background-repeat:repeat;
}